ProjectCar/CarRentalProjectFrontEnd/HelloWebClient/Connected Services/WcfServiceCarHost/ServiceCar.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ServiceCar" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_IServiceCar_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <msf:WindowsTransportSecurity xmlns:msf="http://schemas.microsoft.com/ws/2006/05/framing/policy">
                  <msf:ProtectionLevel>EncryptAndSign</msf:ProtectionLevel>
                </msf:WindowsTransportSecurity>
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8080/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8080/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8080/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Domain" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IServiceCar_AddCar_InputMessage">
    <wsdl:part name="parameters" element="tns:AddCar" />
  </wsdl:message>
  <wsdl:message name="IServiceCar_AddCar_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddCarResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceCar_GetCarList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCarList" />
  </wsdl:message>
  <wsdl:message name="IServiceCar_GetCarList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCarListResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceCar_GetCarByRegNr_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCarByRegNr" />
  </wsdl:message>
  <wsdl:message name="IServiceCar_GetCarByRegNr_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCarByRegNrResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceCar_DeleteCar_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteCar" />
  </wsdl:message>
  <wsdl:message name="IServiceCar_DeleteCar_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteCarResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceCar_ReturnCar_InputMessage">
    <wsdl:part name="parameters" element="tns:ReturnCar" />
  </wsdl:message>
  <wsdl:message name="IServiceCar_ReturnCar_OutputMessage">
    <wsdl:part name="parameters" element="tns:ReturnCarResponse" />
  </wsdl:message>
  <wsdl:portType name="IServiceCar">
    <wsdl:operation name="AddCar">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceCar/AddCar" message="tns:IServiceCar_AddCar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceCar/AddCarResponse" message="tns:IServiceCar_AddCar_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCarList">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceCar/GetCarList" message="tns:IServiceCar_GetCarList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceCar/GetCarListResponse" message="tns:IServiceCar_GetCarList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCarByRegNr">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceCar/GetCarByRegNr" message="tns:IServiceCar_GetCarByRegNr_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceCar/GetCarByRegNrResponse" message="tns:IServiceCar_GetCarByRegNr_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteCar">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceCar/DeleteCar" message="tns:IServiceCar_DeleteCar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceCar/DeleteCarResponse" message="tns:IServiceCar_DeleteCar_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ReturnCar">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceCar/ReturnCar" message="tns:IServiceCar_ReturnCar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceCar/ReturnCarResponse" message="tns:IServiceCar_ReturnCar_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IServiceCar" type="tns:IServiceCar">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AddCar">
      <soap:operation soapAction="http://tempuri.org/IServiceCar/AddCar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCarList">
      <soap:operation soapAction="http://tempuri.org/IServiceCar/GetCarList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCarByRegNr">
      <soap:operation soapAction="http://tempuri.org/IServiceCar/GetCarByRegNr" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteCar">
      <soap:operation soapAction="http://tempuri.org/IServiceCar/DeleteCar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReturnCar">
      <soap:operation soapAction="http://tempuri.org/IServiceCar/ReturnCar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="NetTcpBinding_IServiceCar" type="tns:IServiceCar">
    <wsp:PolicyReference URI="#NetTcpBinding_IServiceCar_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="AddCar">
      <soap12:operation soapAction="http://tempuri.org/IServiceCar/AddCar" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCarList">
      <soap12:operation soapAction="http://tempuri.org/IServiceCar/GetCarList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCarByRegNr">
      <soap12:operation soapAction="http://tempuri.org/IServiceCar/GetCarByRegNr" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteCar">
      <soap12:operation soapAction="http://tempuri.org/IServiceCar/DeleteCar" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReturnCar">
      <soap12:operation soapAction="http://tempuri.org/IServiceCar/ReturnCar" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServiceCar">
    <wsdl:port name="BasicHttpBinding_IServiceCar" binding="tns:BasicHttpBinding_IServiceCar">
      <soap:address location="http://localhost:8080/ServiceCar" />
    </wsdl:port>
    <wsdl:port name="NetTcpBinding_IServiceCar" binding="tns:NetTcpBinding_IServiceCar">
      <soap12:address location="net.tcp://localhost:8090/ServiceCar" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:8090/ServiceCar</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Upn>DESKTOP-GMES9H2\Jonas</Upn>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>